@charset "UTF-8";
* {
  margin: 0;
  font-family: "Lato";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
}

/* Hero */
.hero-container {
  background: url(/InterviewMe---recruitment-task/assets/Rectangle_3.png) no-repeat center center;
  height: 70%;
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 782px;
  left: 0px;
  top: 0px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-gradient, .hero {
  position: absolute;
  width: 100vw;
  height: 782px;
  left: 0px;
  right: 0px;
  top: 0px;
}

.hero-gradient {
  background: -webkit-gradient(linear, left top, right top, from(rgba(213, 32, 71, 0.8)), to(rgba(238, 61, 27, 0.8)));
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}

.hero {
  text-align: center;
  color: white;
  /* Button */
}

.hero h1 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: hidden;
  text-align: center;
  top: 257px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero h3 {
  position: absolute;
  height: 124px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 382px;
  color: #FFFFFF;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */
  text-align: center;
}

.hero .btn-sign-up {
  position: absolute;
  width: 160px;
  height: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 545px;
  background: #FFFFFF;
  border-radius: 6px;
  border-style: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #ED4C5C;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.hero .btn-sign-up:hover {
  color: #FFFFFF;
  background: #ED4C5C;
  border: solid #FFFFFF 2px;
  cursor: pointer;
}

.logo {
  background-image: url(/InterviewMe---recruitment-task/assets/logo.png);
  position: absolute;
  width: 172px;
  height: 29px;
  left: 165px;
  top: 55px;
}

.navbar-menu {
  position: absolute;
  padding-right: 160px;
  height: 29px;
  top: 55px;
  display: block;
}

.navbar-menu ul li {
  list-style: none;
  display: inline-block;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding-right: 20px;
}

.navbar-menu ul li :hover {
  cursor: pointer;
}

.navbar-menu ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

/* Tablet & mobile menu under hamburger */
.hamburger {
  position: absolute;
  z-index: 4;
  top: 45px;
  right: 10vw;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  display: none;
}

.hamburger .hamburger-box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger .hamburger-box .hamburger-inner {
  left: 0;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  -webkit-transition: background-color .1s .1s ease-in-out;
  transition: background-color .1s .1s ease-in-out;
}

.hamburger-inner::before, .hamburger-inner::after {
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .2s  ease-in-out;
  transition: -webkit-transform .2s  ease-in-out;
  transition: transform .2s  ease-in-out;
  transition: transform .2s  ease-in-out, -webkit-transform .2s  ease-in-out;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  top: 10px;
}

.hamburger-active .hamburger-inner {
  background-color: transparent !important;
}

.hamburger-active .hamburger-inner::before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.hamburger-active .hamburger-inner::after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

/* Tablet & mobile menu */
.menu-hamburger {
  height: 100vh;
  width: 100vw;
  background-color: #EE3D1B;
  z-index: 3;
  padding-top: 45px;
  padding-right: 50px;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
}

.menu-hamburger li {
  list-style: none;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 3rem;
  text-transform: uppercase;
  padding-right: 20px;
  padding-top: 5px;
}

.menu-hamburger li :hover {
  cursor: pointer;
}

.menu-hamburger li a {
  text-decoration: none;
  color: #FFFFFF;
}

.menu-hamburger-active {
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
  -webkit-transition: -webkit-transform .3s .1s ease-in-out;
  transition: -webkit-transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
}

/* Features section */
#features {
  height: 660px;
  width: 100vw;
  position: relative;
  top: 782px;
  /* powoduje rozpychanie na szerokość*/
}

#features h1 {
  position: absolute;
  height: 55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 63px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #000000;
}

#features .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#features .cards .card {
  border-radius: 8px;
  width: 350px;
  height: 250px;
  top: 181px;
  margin: 181px 15px 0;
  background-position: center center;
}

#features .cards .card .card-content {
  background: white;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 293px;
  height: 198px;
  position: relative;
  -webkit-transform: translateY(157px);
          transform: translateY(157px);
  left: 29px;
}

#features .cards .card .card-content h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  position: relative;
  top: 33px;
}

#features .cards .card .card-content p {
  position: relative;
  top: 56px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

#features .cards .card .card-content span {
  position: absolute;
  height: 18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 155px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

#features .cards .card .card-content span a {
  text-decoration: none;
  color: #ED4C5C;
}

#features .cards .card-1 {
  background: url(assets/Bg_card_1.png), #FFFFFF;
}

#features .cards .card-2 {
  background: url(assets/Bg_card_2.png), #FFFFFF;
}

#features .cards .card-3 {
  background: url(assets/Bg_card_3.png), #FFFFFF;
}

/* Desktop */
@media only screen and (min-device-width: 801px) {
  .hero .tablet {
    display: none;
  }
  #features h3.mobile, #features p.mobile {
    display: none;
  }
}

/* tablet */
@media only screen and (min-device-width: 481px) and (max-device-width: 800px) {
  .hamburger {
    display: block;
  }
  .navbar-menu {
    display: none;
  }
  .menu-hamburger {
    padding-left: 50px;
  }
  .logo {
    left: 100px;
  }
  .hero h1 {
    font-size: 3rem;
    top: 175px;
  }
  .hero h3.tablet {
    font-size: 1.6rem;
    top: 295px;
  }
  .hero .desktop {
    display: none;
  }
  #features .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  #features .cards h3.mobile, #features .cards p.mobile {
    display: none;
  }
}

/* mobile */
@media only screen and (max-device-width: 480px) {
  .hamburger {
    display: block;
  }
  .navbar-menu {
    display: none;
  }
  .logo {
    left: 35px;
  }
  .hero h1 {
    font-size: 2.1rem;
    top: 175px;
  }
  .hero h3 {
    font-size: 1.3rem;
    top: 295px;
  }
  #features .cards .card {
    width: 280px;
  }
  #features .cards .card .card-content {
    width: 222px;
  }
  #features .cards .card .card-content h3.tablet, #features .cards .card .card-content p.tablet {
    display: none;
  }
  #features .cards .card .card-content h3.mobile, #features .cards .card .card-content p.mobile {
    padding-left: 5px;
    padding-right: 5px;
  }
}
/*# sourceMappingURL=styles.css.map */