@import "mixins";
@import "vars";

* {
    margin: 0;
    font-family: 'Lato', ;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}


/* BODY */

body {
    max-width: 100vw;
    height: 100%;
}

/* Hero */
.hero-container {
    background: url(assets/Rectangle_3.png) no-repeat center center;
    height: 70%;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 782px;
    left: 0px;
    top: 0px;
    justify-content: flex-end;
    display: flex;
}
.hero-gradient, .hero {
    position: absolute;
    // width: 100vw;
    height: 782px;
    left: 0px;
    right: 0px;
    top: 0px;
}
.hero-gradient {
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}
.hero {
    text-align: center;
    color: $color2;
    h1 {
        @include centered_hor();
        overflow: hidden;
        text-align: center;
        top: 257px;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 72px;
        line-height: 86px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $color2;
    }
    h3 {
        @include centered_hor;
        height: 124px;
        top: 382px;
        color: $color2;
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
    }

    /* Button */
    .btn-sign-up {
        @include centered_hor;
        @include button($color2, $color1);
        font-weight: 600;
        border-style: none;
        transition: all .2s ease-in-out;
        &:hover {
            color: $color2;
            background: $color1;
            border: solid $color2 2px;
            cursor: pointer;
        }
    }
}
.logo {
    background-image: url(assets/logo.png);
    position: absolute;
    width: 172px;
    height: 29px;
    left: 165px;
    top: 55px;
}
.navbar-menu {
    position: absolute;
    padding-right: 160px;
    height: 29px;
    top: 55px;
    display: block;
    ul {
        li {
            list-style: none;
            display: inline-block;
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            padding-right: 20px;
            &:hover {
                cursor: pointer;
            }
            a {
                text-decoration: none;
                color: $color2;
            }
        }
    }
}


/* Tablet & mobile hamburger */

.hamburger {
    position: absolute;
    z-index: 4;
    top: 45px;
    right: 10vw;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
    display: none;
    .hamburger-box {
        width: 35px;
        height: 24px;
        display: inline-block;
        position: relative;
        .hamburger-inner{
            left: 0;
            top: 50%;
            @include hamburger-line();
            transition: background-color .1s .1s ease-in-out;
        }
    }
}

.hamburger-inner::before, .hamburger-inner::after {
    @include hamburger-line();
    content: '';
    left: 0;
    transition: transform .2s  ease-in-out;
}
.hamburger-inner::before {
    top: -10px;
}
.hamburger-inner::after {
    top: 10px;
}
.hamburger-active .hamburger-inner {
    background-color: transparent !important;
}
.hamburger-active .hamburger-inner::before {
    transform: translateY(10px) rotate(45deg) ;
}
.hamburger-active .hamburger-inner::after {
    transform: translateY(-10px) rotate(-45deg) ;
}


/* Tablet & mobile menu */
.menu-hamburger {
    max-height: 100vh;
    display: block;
    background: linear-gradient(90deg, rgba(213, 32, 71, 1) 0%, rgba(238, 61, 27, 1) 100%);
    z-index: 3;
    padding-top: 45px;
    padding-right: 50px;
    transform: translateY(-100vh);
    ul {
        @include centered_hor_vert();
        position: relative;
        text-align: center;
    }
    li {
        list-style: none;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 3rem;
        text-transform: uppercase;
        padding-right: 20px;
        padding-top: 5px;
        &:hover {
            cursor: pointer;
        }
        a {
            text-decoration: none;
            color: $color2;
        }
    }
}
.menu-hamburger-active {
    transform: translateY(0)    !important;
    transition: transform .3s .1s ease-in-out;
}


/* Features section */

.features {
    min-height: 660px;
    position: relative;
    top: 782px;
    h2 {
       @include section-title();
    }
    .cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .card {
            border-radius: 8px;
            width: 350px;
            height: 250px;
            top: 181px;
            margin: 181px 15px 0;
            background-position: center center;

            .card-content {
                background: rgb(255, 255, 255);
                box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                width: 293px;
                height: 198px;
                position: relative;
                transform: translateY(157px);
                left: 29px;
                h3 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                    position: relative;
                    top: 33px;
                }
                p {
                    position: relative;
                    top: calc(93px - 57px + 20px);
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 18px;
                    text-align: center;
                }
                span {
                    @include centered_hor();
                    top: 155px;
                    font-family: Lato;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 18px;
                    text-align: center;
                    a {
                        text-decoration: none;
                        color: $color1;
                    }
                }
            }
        }
        .card-1 {
            background: url(assets/Bg_card_1.png), $color2;
        }
        .card-2 {
            background: url(assets/Bg_card_2.png), $color2;
        }
        .card-3 {
            background: url(assets/Bg_card_3.png), $color2;
        }
    }
}



/* technology */

.technology {
    height: 660px;
    position: relative;
    top: 782px;
    h2 {
        @include section-title();
    }
    .boxes {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .tech_box {
            width: 255px;
            height: 226px;
            margin-top: 170px;
            .box-number {
                p {
                font-family: Lato;
                font-style: normal;
                font-weight: bold;
                font-size: 100px;
                line-height: 120px;
                text-align: center;
                color: rgba(16, 16, 16, 0.08);
                }
            }
            .box-content {
                position: relative;

                h3 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                    margin-top: 23px;
                    margin-bottom: 10px;
                }
                p {
                    position: relative;
                    // top: calc(93px - 57px + 20px);
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 18px;
                    text-align: center;
                }
                .box-icon {
                    left: 50%;
                    bottom: 50%;
                    transform: translate(-50%, 0%);
                    position: absolute;
                    padding-bottom: 45px;
                }
            }
        }
    }
}


/* download */

.download {
    background: $color1;
    height: 500px;
    position: relative;
    top: 660px;
    color: $color2;
    display: flex;
    .download-text {
        width: 50%;
        position: relative;
        h2 {
            @include section-title();
            color: $color2;
            text-align: left;
            width:445px;
            top: 122px;
         }
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            text-align: justify;
            width: 445px;
            height: 64px;
            top: 253px;
            @include centered_hor;
        }
        .download-icons {
            @include centered_hor;
            top: 389px;
            width: 445px;
            .download-icon {
                margin-right: 25px;
                height: 28px;
            }
        }
    }
    .download-slideshow {
        width: 50%;
        position: relative;
        right: 0;
        .slideshow-items {
            .item-image {
                position: absolute;
                right: 260px;
                top: 50%;
                transform: translate(0, -50%);
                border-radius: 10px;
                    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);

            }
            .active-item {
                z-index: 999;
                width: 480px;
            }
            .faded-item-right {
                width: 400px;
                z-index: 4;
                transform: translate(44px, -50%);
            }
            .faded-item-left {
                z-index: 5;
                transform: translate(-120px, -50%);
                width: 400px;

            }
        }
    }
}

/* CONTACT */

.contact {
    height: 500px;
    position: relative;
    top: 660px;
    display: flex;
    .contact-left {
        width: 50%;
        position: relative;
        h2 {
            @include section-title();
            text-align: left;
            width:445px;
            top: 117px;
         }
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            text-align: justify;
            width: 434px;
            height: 64px;
            top: 213px;
            @include centered_hor;
        }
    }
    .contact-form-wrapper {
        width: 50%;
        position: relative;
        .contact-form {
            width: 100%;
            width: 540px;
            height: 305px;
            top: 117px;
            position: absolute;
        }
        .column-half {
            position: relative;

            .form-control {
                height: 60px;
                margin: 0;
                padding: 0;
            }
        }
        .f-name {
            margin-right: 15px;
            float: left;
            .form-control {
                width: 255px;
            }
        }
        .l-name {
            float: left;

            margin-left: 15px;
            .form-control {
                width: 255px;
            }
        }
        .column-full {
            width: 100%;
            .form-control {
                width: 540px;
                height: 60px;
            }
        }
        .input-block {
            position: relative;
            margin-bottom: 20px;
            transform: transition(all 0.3s ease-out);
            &.focus{
                background-color: $color2;
                border: solid 1px darken($color3, 10%);
            }
            label {
                display: block;
                font-weight: 300;
                z-index: 1;
                color: $color4;
                font-size: 14px;
                line-height: 10px;
            }
            .form-control{
                position: relative;
                background-color: transparent;
                padding-left: 20px;
                border: 1px solid $color3;
                border-radius: 6px;
                position: relative;
                z-index: 2;
                font-size: 16px;
                color: $color4;
            }
            input:focus::placeholder {
                color: transparent;
              }
        }
        .chevron:after {
            content: '\f078';
            font: normal normal normal 17px/1 FontAwesome;
            color: $color4;
            right: 11px;
            top: 6px;
            height: 34px;
            padding: 15px 0px 0px 8px;
            position: absolute;
            pointer-events: none;
            transition: all 250ms cubic-bezier(.4,.25,.3,1);
        }

        select {
            appearance: none;
            width: 540px;
        }
        .button {
            @include button($color1, $color2);
            border: 1.5px solid $color1;
            border-radius: 6px;
            transition: all .2s ease-in-out;
            &:hover,
            &:focus {
                color: $color1;
                background: $color2;
                border: 1.5px solid $color1;
                cursor: pointer;
                font-weight: 600;
            }
        }
    }
}


/* Desktop */

@media only screen and (min-device-width: 1024px) {
    .hero {
        .tablet {
            display: none;
        }
    }
    h3.mobile, p.mobile  {
        display: none;
    }
}


/* iPad Pro  */

@media only screen and (min-device-width: 801px) and (max-device-width: 1024px) {

.technology {
    top: calc(355px + 782px - 124px)
}

.download {
    top: calc(660px + 355px - 124px);
    .download-text {
        p, h2, .download-icons {
            width: 70%;
        }
    }
    .download-slideshow {
    .slideshow-items {
        .item-image {
            right: 75px;
        }
    }}}

    .contact {
        top: calc(660px + 355px - 124px);
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        height: 700px;
        .contact-form-wrapper {
            top: 200px;
        }
    }
}

/* tablet */
@media only screen and (min-device-width: 481px) and (max-device-width: 800px) {
    .hamburger {
        display: block;
    }
    .navbar-menu {
        display: none;
    }
    .menu-hamburger {
        padding-left: 50px;
    }
    .logo {
        left: 100px;
    }
    .hero {
        h1 {
            font-size: 3rem;
            top: 175px;
        }
        h3.tablet {
            font-size: 1.6rem;
            top: 295px;
        }
        .desktop {
            display: none;
        }
    }

    h3.mobile, p.mobile {
        display: none;
    }

    .features {
        .cards {
            flex-direction: column;
            align-content: space-around;
        }
    }
    .technology {
        top: calc( 782px + 124px);
        display: flex;
        .title {
            margin-bottom: 100px;
        }
        .boxes {
            flex-wrap: wrap;
            align-content: space-around;
            .tech_box {
                margin-top: 0;
            }
        }
    }
    .download {
        top: calc( 782px + 124px);
        display: flex;
        flex-wrap: wrap;
        border: none;
        .download-text {
            width: 100%;
            height: 500px;
            border: none;
        }
        .download-slideshow {
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            height: 500px;
            background-color: inherit;
            border: none;
        }
    }
    .contact {
        top: calc(660px * 2);
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        height: 700px;
        .contact-left {
            h2 {
                text-align: center;
            }
        }
        .contact-form-wrapper {
            top: 200px;

            .contact-form {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}


/* mobile */

@media only screen and (max-device-width: 480px) {
    .hamburger {
        display: block;
    }
    .navbar-menu {
        display: none;
    }
    .logo {
        left: 35px;
    }
    .hero {
        h1 {
            font-size: 2.1rem;
            top: 175px;
        }
        h3 {
            font-size: 1.3rem;
            top: 295px;
        }
    }
    .menu-hamburger {
        padding-top: 0;
        padding-right: 0;
        width: 100%;
        height: 100vh;
    }
    .features {
        margin-bottom: 150px;
        .cards {
            .card {
                width: 280px;
                .card-content {
                    width: 222px;
                    h3.mobile, p.mobile {
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
    h3.tablet, p.tablet {
        display: none;
    }
    .technology {
        height: calc(226px *5 + 100px) ;
        .boxes {
            display: flex;
            flex-wrap: wrap;
            align-content: space-around;
            .tech_box {
                margin-top: 0;
            }
        }
        div div.tech_box:first-of-type {
            margin-top: 150px;
        }
    }
    .download {
        display: flex;
        flex-wrap: wrap;
        border: none;
        .download-text {
            width: 100%;
            height: 500px;
            border: none;
            h2, p, .download-icons {
                width: 100%;
                padding: 0 30px;
            }
        }
        .download-slideshow {
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            height: 300px;
            background-color: inherit;
            border: none;
            .slideshow-items {
                width: 100%;
                object-fit: scale-down;
                position: relative;
                transform: transition(all 0.3s ease-out);
                transform: transition(all 0.3s ease-out);


                .item-image {
                    position: absolute;
                    
                    margin: 0 auto;
                    left: 0;
                    top: 0;
                    transform: translate(0, 0);
                }
                .tablet {
                    display: none;
                }
                .active-item {
                    z-index: 9;
                    transform: transition(all 0.3s ease-out);
                }
                .faded-item-left {
                    z-index: 5;
                    // transform: translate(44px, -50%);
                    transform: transition(all 0.3s ease-out);
                }
                .faded-item-right {
                    z-index: 5;
                    // transform: translate(-100px, -50%);
                    transform: transition(all 0.3s ease-out);
                }
                .download-slideshow {
                    width: 50%;
                    position: relative;
                    right: 0;
                }
            }
        }
    }
    .contact {
        display: flex;
        flex-wrap: wrap;
        border: none;
        top: 900px;
        height: 300px;
        .contact-left {
            width: 100%;
            height: 200px;
            border: none;
            h2, p, .download-icons {
                width: 100%;
                padding: 0 30px;
            }
        }
        .contact-form-wrapper {

            width: 100%;
            .contact-form {
                width: 100%;
                // top: -100px;
                flex-direction: column;
                .column-full, .column-half {
                    margin: 0 auto;
                    width: 100%;
                    button {
                        margin: 0 30px 50px;
                    }
                    .chevron:after {
                        transform: translate(-600%, 0%);
                        right: 0;
                        top: 6px;
                        height: 34px;
                        padding: 15px 0px 0px 8px;
                        position: absolute;
                        pointer-events: none;
                        transition: all 250ms cubic-bezier(.4,.25,.3,1);
                    }
                    .input-block {
                        .form-control {
                            width: 60%;
                            margin: 0 30px;
                        }
                    }
                }
            }
        }
    }
}




