@charset "UTF-8";
* {
  margin: 0;
  font-family: "Lato";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

/* MIXINS */
/* BODY */
body {
  max-width: 100vw;
  height: 100%;
}

/* Hero */
.hero-container {
  background: url(assets/Rectangle_3.png) no-repeat center center;
  height: 70%;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 782px;
  left: 0px;
  top: 0px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-gradient, .hero {
  position: absolute;
  height: 782px;
  left: 0px;
  right: 0px;
  top: 0px;
}

.hero-gradient {
  background: -webkit-gradient(linear, left top, right top, from(rgba(213, 32, 71, 0.8)), to(rgba(238, 61, 27, 0.8)));
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}

.hero {
  text-align: center;
  color: white;
  /* Button */
}

.hero h1 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: hidden;
  text-align: center;
  top: 257px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero h3 {
  position: absolute;
  height: 124px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 382px;
  color: #FFFFFF;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */
  text-align: center;
}

.hero .btn-sign-up {
  position: absolute;
  width: 160px;
  height: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 545px;
  background: #FFFFFF;
  border-radius: 6px;
  border-style: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #ED4C5C;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.hero .btn-sign-up:hover {
  color: #FFFFFF;
  background: #ED4C5C;
  border: solid #FFFFFF 2px;
  cursor: pointer;
}

.logo {
  background-image: url(assets/logo.png);
  position: absolute;
  width: 172px;
  height: 29px;
  left: 165px;
  top: 55px;
}

.navbar-menu {
  position: absolute;
  padding-right: 160px;
  height: 29px;
  top: 55px;
  display: block;
}

.navbar-menu ul li {
  list-style: none;
  display: inline-block;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding-right: 20px;
}

.navbar-menu ul li:hover {
  cursor: pointer;
}

.navbar-menu ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

/* Tablet & mobile hamburger */
.hamburger {
  position: absolute;
  z-index: 4;
  top: 45px;
  right: 10vw;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  display: none;
}

.hamburger .hamburger-box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger .hamburger-box .hamburger-inner {
  left: 0;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  -webkit-transition: background-color .1s .1s ease-in-out;
  transition: background-color .1s .1s ease-in-out;
}

.hamburger-inner::before, .hamburger-inner::after {
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .2s  ease-in-out;
  transition: -webkit-transform .2s  ease-in-out;
  transition: transform .2s  ease-in-out;
  transition: transform .2s  ease-in-out, -webkit-transform .2s  ease-in-out;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  top: 10px;
}

.hamburger-active .hamburger-inner {
  background-color: transparent !important;
}

.hamburger-active .hamburger-inner::before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.hamburger-active .hamburger-inner::after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

/* Tablet & mobile menu */
.menu-hamburger {
  max-height: 100vh;
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#d52047), to(#ee3d1b));
  background: linear-gradient(90deg, #d52047 0%, #ee3d1b 100%);
  z-index: 3;
  padding-top: 45px;
  padding-right: 50px;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
}

.menu-hamburger ul {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: relative;
  text-align: center;
}

.menu-hamburger li {
  list-style: none;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 3rem;
  text-transform: uppercase;
  padding-right: 20px;
  padding-top: 5px;
}

.menu-hamburger li:hover {
  cursor: pointer;
}

.menu-hamburger li a {
  text-decoration: none;
  color: #FFFFFF;
}

.menu-hamburger-active {
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
  -webkit-transition: -webkit-transform .3s .1s ease-in-out;
  transition: -webkit-transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
}

/* Features section */
.features {
  min-height: 660px;
  position: relative;
  top: 782px;
  /* powoduje rozpychanie na szerokość*/
}

.features h2 {
  position: absolute;
  height: 55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: calc(845px - 782px);
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #000000;
}

.features .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features .cards .card {
  border-radius: 8px;
  width: 350px;
  height: 250px;
  top: 181px;
  margin: 181px 15px 0;
  background-position: center center;
}

.features .cards .card .card-content {
  background: white;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 293px;
  height: 198px;
  position: relative;
  -webkit-transform: translateY(157px);
          transform: translateY(157px);
  left: 29px;
}

.features .cards .card .card-content h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  position: relative;
  top: 33px;
}

.features .cards .card .card-content p {
  position: relative;
  top: calc(93px - 57px + 20px);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.features .cards .card .card-content span {
  position: absolute;
  height: 18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 155px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.features .cards .card .card-content span a {
  text-decoration: none;
  color: #ED4C5C;
}

.features .cards .card-1 {
  background: url(assets/Bg_card_1.png), #FFFFFF;
}

.features .cards .card-2 {
  background: url(assets/Bg_card_2.png), #FFFFFF;
}

.features .cards .card-3 {
  background: url(assets/Bg_card_3.png), #FFFFFF;
}

/* technology */
.technology {
  height: 660px;
  position: relative;
  top: 782px;
}

.technology h2 {
  position: absolute;
  height: 55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: calc(845px - 782px);
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #000000;
}

.technology .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.technology .boxes .tech_box {
  width: 255px;
  height: 226px;
  margin-top: 170px;
}

.technology .boxes .tech_box .box-number p {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
  text-align: center;
  color: rgba(16, 16, 16, 0.08);
}

.technology .boxes .tech_box .box-content {
  position: relative;
}

.technology .boxes .tech_box .box-content h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 23px;
  margin-bottom: 10px;
}

.technology .boxes .tech_box .box-content p {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.technology .boxes .tech_box .box-content .box-icon {
  left: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  position: absolute;
  padding-bottom: 45px;
}

/* download */
.download {
  background: #ED4C5C;
  height: 500px;
  position: relative;
  top: 660px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download .download-text {
  width: 50%;
  position: relative;
}

.download .download-text h2 {
  position: absolute;
  height: 55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: calc(845px - 782px);
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #000000;
  color: #FFFFFF;
  text-align: left;
  width: 445px;
  top: 122px;
}

.download .download-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  position: absolute;
  width: 445px;
  height: 64px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 253px;
}

.download .download-text .download-icons {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 389px;
  position: absolute;
  width: 445px;
}

.download .download-text .download-icons .download-icon {
  margin-right: 25px;
  height: 28px;
}

.download .download-slideshow {
  width: 50%;
  position: relative;
  right: 0;
}

.download .download-slideshow .slideshow-items .item-image {
  position: absolute;
  right: 260px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.download .download-slideshow .slideshow-items .active-item {
  z-index: 9;
}

.download .download-slideshow .slideshow-items .faded-item-left {
  z-index: 5;
  -webkit-transform: translate(44px, -50%);
          transform: translate(44px, -50%);
}

.download .download-slideshow .slideshow-items .faded-item-right {
  z-index: 5;
  -webkit-transform: translate(-100px, -50%);
          transform: translate(-100px, -50%);
}

/* Desktop */
@media only screen and (min-device-width: 801px) {
  .hero .tablet {
    display: none;
  }
  h3.mobile, p.mobile {
    display: none;
  }
}

/* small desktop */
@media only screen and (min-device-width: 801px) and (max-device-width: 1024px) {
  .technology {
    top: calc(355px + 782px - 124px);
  }
  .download {
    top: calc(660px + 355px - 124px);
  }
  .download .download-text p, .download .download-text h2, .download .download-text .download-icons {
    width: 70%;
  }
  .download .download-slideshow .slideshow-items .item-image {
    right: 75px;
  }
}

/* tablet */
@media only screen and (min-device-width: 481px) and (max-device-width: 800px) {
  .hamburger {
    display: block;
  }
  .navbar-menu {
    display: none;
  }
  .menu-hamburger {
    padding-left: 50px;
  }
  .logo {
    left: 100px;
  }
  .hero h1 {
    font-size: 3rem;
    top: 175px;
  }
  .hero h3.tablet {
    font-size: 1.6rem;
    top: 295px;
  }
  .hero .desktop {
    display: none;
  }
  h3.mobile, p.mobile {
    display: none;
  }
  .features .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .technology {
    top: calc( 782px + 124px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .technology .title {
    margin-bottom: 100px;
  }
  .technology .boxes {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .technology .boxes .tech_box {
    margin-top: 0;
  }
  .download {
    top: calc( 782px + 124px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border: none;
  }
  .download .download-text {
    width: 100%;
    height: 500px;
    border: none;
  }
  .download .download-slideshow {
    width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 500px;
    background-color: inherit;
    border: none;
  }
}

/* mobile */
@media only screen and (max-device-width: 480px) {
  .hamburger {
    display: block;
  }
  .navbar-menu {
    display: none;
  }
  .logo {
    left: 35px;
  }
  .hero h1 {
    font-size: 2.1rem;
    top: 175px;
  }
  .hero h3 {
    font-size: 1.3rem;
    top: 295px;
  }
  .menu-hamburger {
    padding-top: 0;
    padding-right: 0;
    width: 100%;
    height: 100vh;
  }
  .features {
    margin-bottom: 150px;
  }
  .features .cards .card {
    width: 280px;
  }
  .features .cards .card .card-content {
    width: 222px;
  }
  .features .cards .card .card-content h3.mobile, .features .cards .card .card-content p.mobile {
    padding-left: 5px;
    padding-right: 5px;
  }
  h3.tablet, p.tablet {
    display: none;
  }
  .technology {
    height: calc(226px *5 + 100px);
  }
  .technology .boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .technology .boxes .tech_box {
    margin-top: 0;
  }
  .technology div div.tech_box:first-of-type {
    margin-top: 150px;
  }
  .download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border: none;
  }
  .download .download-text {
    width: 100%;
    height: 500px;
    border: none;
  }
  .download .download-text h2, .download .download-text p, .download .download-text .download-icons {
    width: 100%;
    padding: 0 30px;
  }
  .download .download-slideshow {
    width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 300px;
    background-color: inherit;
    border: none;
  }
  .download .download-slideshow .slideshow-items {
    width: 100%;
    -o-object-fit: scale-down;
       object-fit: scale-down;
    position: relative;
  }
  .download .download-slideshow .slideshow-items .item-image {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0;
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .download .download-slideshow .slideshow-items .tablet {
    display: none;
  }
  .download .download-slideshow .slideshow-items .active-item {
    z-index: 9;
  }
  .download .download-slideshow .slideshow-items .faded-item-left {
    z-index: 5;
  }
  .download .download-slideshow .slideshow-items .faded-item-right {
    z-index: 5;
  }
  .download .download-slideshow .slideshow-items .download-slideshow {
    width: 50%;
    position: relative;
    right: 0;
  }
}
/*# sourceMappingURL=styles.css.map */